@font-face {
  font-family: BigNoodleTitling;
  src: url("fonts/big_noodle_titling.ttf") format("truetype");
}

* {
  font-family: BigNoodleTitling;
}

html, body, .honor-container {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

.hidden {
	display: none;
}

.shown {
	display: unset;
}


.top-container-background {
  background: url(assets/backgrounds/5_3_BG_TOP.png);
  background-size: cover;
	width: auto;
	height: auto;
  position: relative;
  background-repeat:no-repeat;
  padding-top: 20px;
}

.prize-container-background {
  background: url(assets/backgrounds/5_2_BG_PRIZE.png);
  background-size: cover;
	width: auto;
	height: auto;
  background-repeat:no-repeat;
}

.gc-container-background {
	background: url(assets/backgrounds/5_1_BG_GC.png);
  background-size: cover;
	width: auto;
	height: auto;
	align-items: center;
	text-align: center;
  background-repeat:no-repeat;
  padding-top: 10vw;
}

.honorplay-container {
  background: url(assets/backgrounds/5_0_BG_FOOTER.png);
  background-size: cover;
	width: auto;
	height: auto;
	align-items: center;
	text-align: center;
  background-repeat:no-repeat;
}

.top-container-padding {
  margin-left: 5vw;
  margin-right: 5vw;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
}
.flexwrap {
  flex-wrap: wrap;
}

.div-top-left, .div-top-right {
  width: 30%;
  height: auto;
}

.div-top-logo {
  width: 40%;
  height: auto;
}

.div-top-timer-left, .div-top-timer-right {
  width: 35%;
  height: auto;
}

.div-top-timer {
  width: 30%;
  height: auto;
}

.top-headline {
  width: 100%;
}
.top-timer {
  text-align: justify;
}

.youtube_btn {
	width: 10vw;
}

.top-timer, .top-video {
	margin-left: auto;
	margin-right: auto;
}

.top-timer {
  padding-top: 2%;
	text-align: center;
	font-size: 4vw;
	color: #05A9F0;
	width: 100%;
}

.top-video {
	width: 18vw;
	height: 10vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.top-video iframe,
.top-video video {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0vw;
	right: 0vw;
}

.div-top-player-left, .div-top-player-right {
  height: 36vw;
  position: absolute;
  bottom: 0;
}

.div-top-player-left {
	left: 0;
}

.div-top-player-right {
	right: 0;
}

.div-top-player-middle {
  height: 36vw;
  position: relative;
  transform: translateX(0.55vw);
}

.top-player-img-left, .top-player-img-middle, .top-player-img-right {
  position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.top-player-img-left {
	margin-left: unset;
	transform: translateY(6vw) translateX(-1.5vw);
	position: relative;
}

.top-player-img-right {
	margin-right: unset;
	margin-top: 6.5vw;
	width: 22vw;
}

.top-player-name-left, .top-player-name-right {
	position: absolute;
	bottom: 0;
	width: 14vw;
}

.top-player-name-left {
	left: -0.65vw;
}

.top-player-name-right {
	right: -0.65vw;
}

.responsive {
  max-width: 24vw;
  height: auto;
}

.div-top-progressbar {
	width: 100vw;
  	background-color: #D46A12;
	height: auto;
	z-index: 1;
}

.top-progress-ape {
	float: left;
    margin-left: 0.2vw;
    padding: 0.25vw 0.2vw 0.1vw 0.2vw;
    height: auto;
    font-size: 2vw;
    color: white;
    letter-spacing: 0.1vw;
}

.top-progress-crime {
	float: right;
    height: auto;
    font-size: 2vw;
    color: white;
	padding: 0.25vw 0.2vw 0.1vw 0.2vw;
	letter-spacing: 0.1vw;
	margin-right: 0.2vw;
}

.top-player-hashtag-right {
	float: right;
    padding: 0.5vw 0 0.5vw 0px;
    height: auto;
    font-size: 4vw;
    color: white;
    letter-spacing: 0.1vw;
}

.top-player-hashtag-left {
	height: auto;
    float: left;
    padding: 0.5vw 0 0.5vw 0;
    font-size: 4vw;
    color: white;
    letter-spacing: 0.1vw;
}

.small-small {
	font-size: 1.5vw;
}

.top-progress-chicken {
	width: 17vw;
	height: auto;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	transform: translateY(-7.2vw);
	z-index: 2;
}

.prize-progress-fill {
	width: 50vw;
    height: 3vw;
	background-color:#00ACEE;
	position: absolute;
    left: 17.8vw;
	top: 6.5vw;
	display: flex;
	align-items: center;
}

.prize-progress-plus {
	width: 2vw;
	height: 2vw;
}

.prize-progress-plus-1 {
	margin-left: 7vw;
}

.prize-progress-plus-2 {
	margin-left: 14vw;
}

.prize-progress-plus-3 {
	margin-left: 14.5vw;
}

.prize-progress-plus-4 {
	margin-left: 14.3vw;
}

.div-secondpage-twitter {
  width: 90vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vw;
}

.div-secondpage-infotext {
  height: auto;
  width: auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3vw;
  margin-top: -2.5vw;
  font-size:2vw;
  color: white;
  line-height: 3.35vw;
  letter-spacing: 0.1vw;
}

.div-secondpage-progressbar {
	align-items: center;
	text-align: center;
	margin-top: -14vw;
	position: relative;
	transform: translateY(12vw);
}

.prize-progress {
  width: 80vw;
  padding-top: 1vw;
  transform: translateX(1.25vw);
}

.infotext_bigger {
  font-size: 4vw;
  letter-spacing: 0.2vw;
  line-height: 5.35vw;
}

.gc-container {
	background: url(assets/backgrounds/5_1_BG_GC.png);
  background-size: cover;
	width: auto;
	height: 75vw;
	align-items: center;
	text-align: center;
  background-repeat:no-repeat;
}

.gc-arrows {
	transform: translateY(5.5vw);
    width: 6vw;
    height: auto;
}

.gc-divider {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 6vw;
}

.gc-left-container {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 80%;
}

.gc-right-container {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.gc-info-text {
	color: white;
    font-size: 2.5vw;
    line-height: 2.8vw;
    letter-spacing: 0.2vw;
}

.gc-info-text-bigger {
	color: white;
	font-size: 4.7vw;
}

.gc-usk-text {
	color: white;
    font-size: 2.5vw;
    line-height: 1.3vw;
    letter-spacing: 0.2vw;
    margin-top: 20vw;
}

.gc-usk-text-bigger {
	color: white;
    font-size: 1.4vw;
	letter-spacing: 0.2vw;
	transform: translateY(1.5vw);
}

.gc-right-text {
	color: white;
    font-size: 2vw;
    line-height: 2.8vw;
    letter-spacing: 0.2vw;
    text-align: right;
}

.gc-right-big-text {
	font-size: 5.5vw;
    line-height: 4vw;
    letter-spacing: 0.5vw;
	margin-top: 2vw;
	transform: translateX(0.5vw);
}

.gc-left-text {
  background: url(assets/gc/3_1_Text_GC_Info.png);
  background-size: contain;
	width: 29vw;
  height: auto;
	float: left;
  transform: translateX(8vw);
}

.gc-left-phone {
  background: url(assets/gc/3_2_Phone_PUBG.png);
  background-size: contain;
  height: auto;
  width:35vw;
  float: left;
  transform: translateX(5vw);
}

.gc-left-text-under-phone {
	width: 25vw;
  height: auto;
	float: left;
  transform: translateX(10vw);
}

.gc-right-infotext {
	width: 75%;
  height: auto;
  float: right;
  padding-bottom: 1vw;
}

.gc-right-gpulogo {
	width: 14vw;
    transform: translateY(2.5vw);
    height: auto;
    float: right;
}
/* Responsive top container */
@media screen and (max-width: 500px) {
  .div-top-left, .div-top-right  {
    width: 10%;
    height: auto;
  }
  .div-top-logo {
    width: 80%;
    height: auto;
  }
  .top-headline {
    width: 100%;
  }
  .top-container-background {
    padding-top: 10px;
  }
}

.honorplay-divider {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 4vw;
}

.honorplay-left-container {
	flex-basis: 0;
    flex-grow: 1.5;
    width: auto;
    max-width: 100%;
    max-height: 25vw;
	transform: translateX(1.5vw) translateY(5vw);
	text-align: right;
}

.honorplay-right-container {
	flex-basis: 0;
    flex-grow: 1;
    height: 25vw;
	transform: translateX(-10vw) translateY(5vw);
	position: relative;
}

.honorplay-phone {
  height: 30vw;
  transform: translateX(1vw) translateY(-11.5vw);
}

.honorplay-text {
	font-size: 2.7vw;
    color: white;
    letter-spacing: 0.1vw;
	line-height: 3.4vw;
	text-align: center;
}

.honorplay-big-text {
	font-size: 6vw;
    color: white;
    letter-spacing: 0.1vw;
}

.honorplay-logo {
	margin-right: 4vw;
	width: 23vw;
}

.honorplay-honor-logo {
  width: 25vw;
  height: auto;
  transform: translateX(-5vw) translateY(6vw);
  float:right;
}

.honorplay-button {
	position: absolute;
    top: -1.5vw;
    right: 0;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 1vw;
    padding: 1.3vw;
}

.honorplay-button-text {
  width: 24vw;
  height: auto;
  transform: translateX(3vw) translateY(-24vw);
}

.honorplay-text-moreinfo {
	color: #020935;
    font-size: 2.6vw;
    letter-spacing: 0.1vw;
    text-align: center;
}

.footer-blue {
  background-color: #01B2E6;
  height: 4vw;
}

.footer-white {
  background-color: white;
  height: 8vw;
}

.footer-white-company {
  background-color: white;
  height: 8vw;
  margin-left: 10px;
  display: flex;
  padding-left: 7vw;
}

.footer-white-company > div {
	margin-right: 1vw;
}

.footer-text-left{
  float: left;
  margin-left: 10px;
  height: auto;
  font-size:2vw;
  color: black;

  letter-spacing: 0.1vw;
  padding-left: 7vw;
  padding-top: 2vw;
}

.footer-company-1 {
  float: left;
  margin-left: 10px;
  padding-left: 1vw;
  padding-top: 2vw;
}

.footer-companylogo-1 a img {
	width: 8vw;
}

.footer-companylogo-2 a img {
	width: 3vw;
}

.footer-companylogo-3 a img {
	width: 11vw;
}

.footer-text-right {
  float: right;
  margin-left: 10px;
  height: auto;
  font-size:2vw;
  color: black;

  letter-spacing: 0.1vw;
  padding-right: 7vw;
  padding-top: 2vw;
}

a {
  color: black;
  text-decoration: none;
}

.to-be-shown {
	display: none;
}

@media screen and (min-width: 1700px) {
  .top-container-padding {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .div-top-timer, .top-container-padding, .div-top-logo {
    padding-top: 1px;
  }
}
